After performing this analysis on the data I collected from my computer, I'll do the same thing with data collected by Gianna Grün, the DW Data editor. This way, we can be sure that this kind of content was not being served by me because of my demographic profile.

In [1]:
import pandas as pd
import json
import glob
import os
import numpy as np
import re

#### Configs

In [2]:
pd.set_option('display.max_rows', 500)

## Reading resulst, title tags and image paths
The functions below come from '4.aggregate-raw-data.ipynb', but are slightly tweaked to read and parse data that is in a different directory.

In [3]:
def read_jsons():
    '''
    Reads the JSON files with the Google Image Search results
    and stores them into a single dictionary, which is returned.
    
    Params:
    
    gcg: True to use data from Gianna's data collection
    '''
    
    directory = "output_gcg"
    
    # Grabs all the filepaths
    files = glob.glob(f"../{directory}/search_results/*.json")
    
    # Reads all those files and save them into a new dictionary
    jsons = { }
    for file in files:
        
        with open(file) as f:
            data = json.load(f)
            
            query = data["search_parameters"]['q']
    
            results = data["images_results"]
                
            jsons[query] = results.copy()
            
    return jsons

In [4]:
def make_df(jsons):
    '''
    Turns a JSON-like array of dictionaries,
    produced by the function read_jsons(),
    into a single pandas datrame, which is returned.
    '''

    dfs = []
    
    # Saves both the values of each dictionary
    # and an identifying column with the respective search query
    for k,v in jsons.items():
        df = pd.DataFrame(v)
        df['search_query'] = k
        dfs.append(df)

    dfs = pd.concat(dfs, ignore_index=True)
    
    return dfs

In [5]:
def add_information(df):
    '''
    Adds both the local image filepath and the downloaded website 
    text to each row in the dataframe. If there is no image or text 
    file for that search result, the function fills the row with a None.
    '''
    
    def get_img_path(row):
        '''
        Fetches the local path of the image 
        downloaded for the row's search entry,
        if there is one. Returns a None if there's not.
        '''
        
        # We need to use the glob approach here to check if the file exists
        # because we can't be sure about the extension of the image file.
        pattern = f'../{directory}/imgs/{row.search_query.replace(" ","-")}/{row.position}.*'
        files = glob.glob(pattern)
        
        if files:
            assert len(files) == 1
            img_path = files[0]
            
        else:
            img_path = None
            
        return pd.Series({"img_path": img_path})
    
    
    def get_full_title(row):
        '''
        Fetches the title tag of a given JSON file.
        '''
        
        fname = f'../{directory}/link_contents/{row.search_query.replace(" ","-")}/{row.position}-title-tag.json'        
        
        if os.path.exists(fname):
            
            with open(fname, "r") as f:
                data = json.load(f)
                full_title = data["title"]
                
                # There is an entry with a \r in the title, which I have to remove
                full_title = full_title.replace("\r", " ")

            
        else:
            full_title = None
            
        return pd.Series({"full_title": full_title})
    
        
    directory = "output_gcg"
        
    df["img_path"] = df.apply(get_img_path, axis=1)
    df["full_title"] = df.apply(get_full_title, axis=1)
    
    return df

#### Saving Gianna's output as CSV

In [6]:
def create_df():
    jsons = read_jsons()
    df = make_df(jsons)
    df = add_information(df)
    df.to_csv("../output_gcg/dataset/aggregated-raw-data.csv", index=False)

In [7]:
create_df()

In [8]:
df_gcg = pd.read_csv("../output_gcg/dataset/aggregated-raw-data.csv")

## Safe search and geographical data

Now we can proceed to do the Google SafeSearch analysis on Gianna's files. We will also do this externally and then read the results back again. In the process, we will also merge them with the CSV that has ISO codes and country names.

In [9]:
def retrieve_safesearch_likelihood(row):
    
    # Build the path to the file with the data Cloud Vision API data
    search_query = row.search_query.replace(" ","-")
    position = row.position
        
    fpath = f"../output_gcg/vision_results/{search_query}-{position}.json"
    
    try:
        # Access the JSON file
        with open(fpath) as f:
            data = json.load(f)
            safe_search = data["safe_search_annotations"]
    except FileNotFoundError:
        return None
        
    results = {
        "adult": safe_search["adult"]["likelihood"],
        "racy": safe_search["racy"]["likelihood"],
        "spoof": safe_search["spoof"]["likelihood"],
        "violence": safe_search["violence"]["likelihood"],
        "medical": safe_search["medical"]["likelihood"]
    }
        
    return pd.Series(results)

In [10]:
def retrieve_m49_standard(df):
    
    # Reads the nationalities, adjectivals and demonyms csv
    nationalities = pd.read_csv("../input/nationalities.csv")
    
    # Reads and formats the CSV with the UN M49 standard classification
    m49 = pd.read_csv("../input/unsd-m49.tsv", sep='\t', dtype="str")

    m49 = m49[["Region Code", "Region Name", 
               "Sub-region Code", "Sub-region Name", 
               "Intermediate Region Code", "Intermediate Region Name", 
               "Country or Area", "M49 Code", "ISO-alpha3 Code"]]

    m49 = m49.rename(columns={
        "Region Code": "region_code",
        "Region Name": "region_name",
        "Sub-region Code": "sub_region_code",
        "Sub-region Name": "sub_region_name",
        "Country or Area": "country_or_area",
        "Intermediate Region Code": "intermediate_region_code",
        "Intermediate Region Name": "intermediate_region_name",
        "M49 Code": "m49_code",
        "ISO-alpha3 Code": "iso_a3"
    })
    
    # Merges them both
    nationalities = nationalities.merge(m49, left_on="country", right_on="country_or_area", how="left")
        
    # And manually fill the missing values of interest
    fill_values = [

         {'country': 'Bolivia', 'country_or_area': 'Bolivia',
          'adjectivals': 'Bolivian',
          'demonyms': 'Bolivians',
          'region_code': '019',
          'region_name': 'Americas',
          'sub_region_code': '419',
          'sub_region_name': 'Latin America and the Caribbean',
          'intermediate_region_code': '005',
          'intermediate_region_name': 'South America',
          'country_or_area': "Bolivia (Plurinational State of)",
          'm49_code': "068",
          'iso_a3': 'BOL'},

         {'country': 'Brunei','country_or_area': 'Brunei',
          'adjectivals': 'Bruneian',
          'demonyms': 'Bruneians',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "035",
          'sub_region_name': "South-eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Brunei Darussalam",
          'm49_code': "096",
          'iso_a3': 'BRN'},

         {'country': 'Czech Republic','country_or_area': 'Czech Republic',
          'adjectivals': 'Czech',
          'demonyms': 'Czechs',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "151",
          'sub_region_name': "Eastern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Czechia",
          'm49_code': "203",
          'iso_a3': 'CZE'},

#          {'country': 'East Timor','country_or_area': 'East Timor',
#           'adjectivals': 'Timorese',
#           'demonyms': 'Timorese',
#           'region_code': "142",
#           'region_name': "Asia",
#           'sub_region_code': "035",
#           'sub_region_name': "South-eastern Asia",
#           'intermediate_region_code': np.nan,
#           'intermediate_region_name': np.nan,
#           'country_or_area': "Timor-Leste",
#           'm49_code': "626"},

         {'country': 'England',
          'adjectivals': 'English',
          'demonyms': 'English',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "154",
          'sub_region_name': "Northern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': 'England',
          'm49_code': np.nan,
          'iso_a3': 'xENG'},

         {'country': 'Iran','country_or_area': 'Iran',
          'adjectivals': 'Iranian',
          'demonyms': 'Iranians',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "034",
          'sub_region_name': "Southern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Iran (Islamic Republic of)",
          'm49_code': "364",
          'iso_a3': 'IRN'},

         {'country': 'Ivory Coast','country_or_area': 'Ivory Coast',
          'adjectivals': 'Ivorian',
          'demonyms': 'Ivorians',
          'region_code': "002",
          'region_name': "Africa",
          'sub_region_code': "202",
          'sub_region_name': "Sub-Saharan Africa",
          'intermediate_region_code': "011",
          'intermediate_region_name': "Western Africa",
          'country_or_area': "Côte d’Ivoire",
          'm49_code': "384",
          'iso_a3': 'CIV'},

         {'country': 'North Korea','country_or_area': 'North Korea',
          'adjectivals': 'North Korean',
          'demonyms': 'North Koreans',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "030",
          'sub_region_name': "Eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Democratic People's Republic of Korea",
          'm49_code': "408",
          'iso_a3': 'PRK'
         },

         {'country': 'South Korea','country_or_area': 'South Korea',
          'adjectivals': 'South Korean',
          'demonyms': 'South Koreans',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "030",
          'sub_region_name': "Eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Republic of Korea",
          'm49_code': "410",
          'iso_a3': 'KOR'},

         {'country': 'Kosovo',
          'adjectivals': 'Kosovar',
          'demonyms': 'Kosovars',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "039",
          'sub_region_name': "Southern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': 'Kosovo',
          'm49_code': np.nan,
          'iso_a3': "XKX"},

         {'country': 'Lao','country_or_area': 'Lao',
          'adjectivals': 'Laos',
          'demonyms': 'Laotians',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "035",
          'sub_region_name': "South-eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Lao People's Democratic Republic",
          'm49_code': "418",
          'iso_a3': 'LAO'},

         {'country': 'Macau','country_or_area': 'Macau',
          'adjectivals': 'Macanese',
          'demonyms': 'Chinese',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "030",
          'sub_region_name': "Eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "China, Macao Special Administrative Region",
          'm49_code': "446",
          'iso_a3': "MAC",
         },

         {'country': 'Micronesia','country_or_area': 'Micronesia',
          'adjectivals': 'Micronesian',
          'demonyms': 'Micronesians',
          'region_code': "009",
          'region_name': "Asia",
          'sub_region_code': "057",
          'sub_region_name': "Micronesia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Micronesia (Federated States of)",
          'm49_code': "583",
          'iso_a3': 'FSM'
         },

         {'country': 'Moldova','country_or_area': 'Moldova',
          'adjectivals': 'Moldovan',
          'demonyms': 'Moldovans',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "151",
          'sub_region_name': "Eastern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Republic of Moldova",
          'm49_code': "498",
          'iso_a3': 'MDA'
         },

         {'country': 'Northern Ireland',
          'adjectivals': 'Northern Irish',
          'demonyms': 'Northern Irish',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "154",
          'sub_region_name': "Northern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': 'Northern Ireland',
          'm49_code': np.nan,
          'iso_a3': 'IRN'
         },

         {'country': 'Palestine',
          'adjectivals': 'Palestinian',
          'demonyms': 'Palestinians',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "145",
          'sub_region_name': "Western Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "State of Palestine",
          'm49_code': "275",
          'iso_a3': "PSE",
         },

         {'country': 'Russia',
          'adjectivals': 'Russian',
          'demonyms': 'Russians',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "151",
          'sub_region_name': "Eastern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Russian Federation",
          'm49_code': "643",
          'iso_a3': 'RUS'},

         {'country': 'Sahrawi Arab Democratic Republic',
          'adjectivals': 'Western Saharan',
          'demonyms': 'Western Saharans',
          'region_code': "002",
          'region_name': "Africa",
          'sub_region_code': "015",
          'sub_region_name': "Northern Africa",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Western Sahara",
          'm49_code': "732",
          'iso_a3': 'ESH'
         },

         {'country': 'São Tomé and Príncipe','country_or_area': 'São Tomé and Príncipe',
          'adjectivals': 'São Toméan',
          'demonyms': 'São Toméans',
          'region_code': "002",
          'region_name': "Africa",
          'sub_region_code': "202",
          'sub_region_name': "Sub-Saharan Africa",
          'intermediate_region_code': "017",
          'intermediate_region_name': "Middle Africa",
          'country_or_area': "Sao Tome and Principe",
          'm49_code': "678",
          'iso_a3': 'STP'
         },

         {'country': 'Scotland',
          'adjectivals': 'Scottish',
          'demonyms': 'Scots',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "154",
          'sub_region_name': "Northern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': 'Scotland',
          'm49_code': np.nan,
          'iso_a3': 'xSCO',
         },

         {'country': 'Syrian','country_or_area': 'Syrian',
          'adjectivals': 'Syrian',
          'demonyms': 'Syrians',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "145",
          'sub_region_name': "Western Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Syrian Arab Republic",
          'm49_code': "760",
          'iso_a3': 'SYR'},

         {'country': 'Taiwan','country_or_area': 'Taiwan',
          'adjectivals': 'Taiwanese',
          'demonyms': 'Taiwanese',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "030",
          'sub_region_name': "Eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Taiwan",
          'm49_code': np.nan,
          'iso_a3': 'TWN'},

         {'country': 'Tanzania',
          'adjectivals': 'Tanzanian',
          'demonyms': 'Tanzanians',
          'region_code': "002",
          'region_name': "Africa",
          'sub_region_code': "202",
          'sub_region_name': "Sub-Saharan Africa",
          'intermediate_region_code': "014",
          'intermediate_region_name': "Eastern Africa",
          'country_or_area': "United Republic of Tanzania",
          'm49_code': "834",
          'iso_a3': 'TZA'},

         {'country': 'United Kingdom',
          'adjectivals': 'British',
          'demonyms': 'Britons',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "154",
          'sub_region_name': "Northern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "United Kingdom of Great Britain and Northern Ireland",
          'm49_code': "826",
          'iso_a3': 'GBR'
         },

         {'country': 'Venezuela',
          'adjectivals': 'Venezuelan',
          'demonyms': 'Venezuelans',
          'region_code': "019",
          'region_name': "Americas",
          'sub_region_code': "419",
          'sub_region_name': "Latin America and the Caribbean",
          'intermediate_region_code': "005",
          'intermediate_region_name': "South America",
          'country_or_area': "Venezuela (Bolivarian Republic of)",
          'm49_code': "862",
          'iso_a3': 'VEN'
         },

         {'country': 'Vietnam',
          'adjectivals': 'Vietnamese',
          'demonyms': 'Vietnamese',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "035",
          'sub_region_name': "South-eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Viet Nam",
          'm49_code': "704",
          'iso_a3': 'VNM'
         },

         {'country': 'Wales',
          'adjectivals': 'Welsh',
          'demonyms': 'Walian',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "154",
          'sub_region_name': "Northern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Wales",
          'm49_code': np.nan,
          'iso_a3': 'xWAL',
         },
    ]

    # Performs the replacement
    fill_values = pd.DataFrame(fill_values)
            
    nationalities = nationalities.dropna(subset=["m49_code"])
    
    nationalities = pd.concat([nationalities, fill_values]).reset_index()
        
    # Now we can select the  merged values and join them with the search result data
    nationalities["search_query"] = nationalities.adjectivals.str.lower() + " women"
    
    df = df.merge(nationalities, on='search_query')
    
    return df

In [11]:
def retrieve_m49_standard(df):
    
    # Reads the nationalities, adjectivals and demonyms csv
    nationalities = pd.read_csv("../input/nationalities.csv")
    
    # Reads and formats the CSV with the UN M49 standard classification
    m49 = pd.read_csv("../input/unsd-m49.tsv", sep='\t', dtype="str")

    m49 = m49[["Region Code", "Region Name", 
               "Sub-region Code", "Sub-region Name", 
               "Intermediate Region Code", "Intermediate Region Name", 
               "Country or Area", "M49 Code", "ISO-alpha3 Code"]]

    m49 = m49.rename(columns={
        "Region Code": "region_code",
        "Region Name": "region_name",
        "Sub-region Code": "sub_region_code",
        "Sub-region Name": "sub_region_name",
        "Country or Area": "country_or_area",
        "Intermediate Region Code": "intermediate_region_code",
        "Intermediate Region Name": "intermediate_region_name",
        "M49 Code": "m49_code",
        "ISO-alpha3 Code": "iso_a3"
    })
    
    # Merges them both
    nationalities = nationalities.merge(m49, left_on="country", right_on="country_or_area", how="left")
        
    # And manually fill the missing values of interest
    fill_values = [

         {'country': 'Bolivia', 'country_or_area': 'Bolivia',
          'adjectivals': 'Bolivian',
          'demonyms': 'Bolivians',
          'region_code': '019',
          'region_name': 'Americas',
          'sub_region_code': '419',
          'sub_region_name': 'Latin America and the Caribbean',
          'intermediate_region_code': '005',
          'intermediate_region_name': 'South America',
          'country_or_area': "Bolivia (Plurinational State of)",
          'm49_code': "068",
          'iso_a3': 'BOL'},

         {'country': 'Brunei','country_or_area': 'Brunei',
          'adjectivals': 'Bruneian',
          'demonyms': 'Bruneians',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "035",
          'sub_region_name': "South-eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Brunei Darussalam",
          'm49_code': "096",
          'iso_a3': 'BRN'},

         {'country': 'Czech Republic','country_or_area': 'Czech Republic',
          'adjectivals': 'Czech',
          'demonyms': 'Czechs',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "151",
          'sub_region_name': "Eastern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Czechia",
          'm49_code': "203",
          'iso_a3': 'CZE'},

#          {'country': 'East Timor','country_or_area': 'East Timor',
#           'adjectivals': 'Timorese',
#           'demonyms': 'Timorese',
#           'region_code': "142",
#           'region_name': "Asia",
#           'sub_region_code': "035",
#           'sub_region_name': "South-eastern Asia",
#           'intermediate_region_code': np.nan,
#           'intermediate_region_name': np.nan,
#           'country_or_area': "Timor-Leste",
#           'm49_code': "626"},

         {'country': 'England',
          'adjectivals': 'English',
          'demonyms': 'English',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "154",
          'sub_region_name': "Northern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': 'England',
          'm49_code': np.nan,
          'iso_a3': 'xENG'},

         {'country': 'Iran','country_or_area': 'Iran',
          'adjectivals': 'Iranian',
          'demonyms': 'Iranians',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "034",
          'sub_region_name': "Southern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Iran (Islamic Republic of)",
          'm49_code': "364",
          'iso_a3': 'IRN'},

         {'country': 'Ivory Coast','country_or_area': 'Ivory Coast',
          'adjectivals': 'Ivorian',
          'demonyms': 'Ivorians',
          'region_code': "002",
          'region_name': "Africa",
          'sub_region_code': "202",
          'sub_region_name': "Sub-Saharan Africa",
          'intermediate_region_code': "011",
          'intermediate_region_name': "Western Africa",
          'country_or_area': "Côte d’Ivoire",
          'm49_code': "384",
          'iso_a3': 'CIV'},

         {'country': 'North Korea','country_or_area': 'North Korea',
          'adjectivals': 'North Korean',
          'demonyms': 'North Koreans',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "030",
          'sub_region_name': "Eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Democratic People's Republic of Korea",
          'm49_code': "408",
          'iso_a3': 'PRK'
         },

         {'country': 'South Korea','country_or_area': 'South Korea',
          'adjectivals': 'South Korean',
          'demonyms': 'South Koreans',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "030",
          'sub_region_name': "Eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Republic of Korea",
          'm49_code': "410",
          'iso_a3': 'KOR'},

         {'country': 'Kosovo',
          'adjectivals': 'Kosovar',
          'demonyms': 'Kosovars',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "039",
          'sub_region_name': "Southern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': 'Kosovo',
          'm49_code': np.nan,
          'iso_a3': "XKX"},

         {'country': 'Lao','country_or_area': 'Lao',
          'adjectivals': 'Laos',
          'demonyms': 'Laotians',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "035",
          'sub_region_name': "South-eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Lao People's Democratic Republic",
          'm49_code': "418",
          'iso_a3': 'LAO'},

         {'country': 'Macau','country_or_area': 'Macau',
          'adjectivals': 'Macanese',
          'demonyms': 'Chinese',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "030",
          'sub_region_name': "Eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "China, Macao Special Administrative Region",
          'm49_code': "446",
          'iso_a3': "MAC",
         },

         {'country': 'Micronesia','country_or_area': 'Micronesia',
          'adjectivals': 'Micronesian',
          'demonyms': 'Micronesians',
          'region_code': "009",
          'region_name': "Asia",
          'sub_region_code': "057",
          'sub_region_name': "Micronesia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Micronesia (Federated States of)",
          'm49_code': "583",
          'iso_a3': 'FSM'
         },

         {'country': 'Moldova','country_or_area': 'Moldova',
          'adjectivals': 'Moldovan',
          'demonyms': 'Moldovans',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "151",
          'sub_region_name': "Eastern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Republic of Moldova",
          'm49_code': "498",
          'iso_a3': 'MDA'
         },

         {'country': 'Northern Ireland',
          'adjectivals': 'Northern Irish',
          'demonyms': 'Northern Irish',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "154",
          'sub_region_name': "Northern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': 'Northern Ireland',
          'm49_code': np.nan,
          'iso_a3': 'IRN'
         },

         {'country': 'Palestine',
          'adjectivals': 'Palestinian',
          'demonyms': 'Palestinians',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "145",
          'sub_region_name': "Western Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "State of Palestine",
          'm49_code': "275",
          'iso_a3': "PSE",
         },

         {'country': 'Russia',
          'adjectivals': 'Russian',
          'demonyms': 'Russians',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "151",
          'sub_region_name': "Eastern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Russian Federation",
          'm49_code': "643",
          'iso_a3': 'RUS'},

         {'country': 'Sahrawi Arab Democratic Republic',
          'adjectivals': 'Western Saharan',
          'demonyms': 'Western Saharans',
          'region_code': "002",
          'region_name': "Africa",
          'sub_region_code': "015",
          'sub_region_name': "Northern Africa",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Western Sahara",
          'm49_code': "732",
          'iso_a3': 'ESH'
         },

         {'country': 'São Tomé and Príncipe','country_or_area': 'São Tomé and Príncipe',
          'adjectivals': 'São Toméan',
          'demonyms': 'São Toméans',
          'region_code': "002",
          'region_name': "Africa",
          'sub_region_code': "202",
          'sub_region_name': "Sub-Saharan Africa",
          'intermediate_region_code': "017",
          'intermediate_region_name': "Middle Africa",
          'country_or_area': "Sao Tome and Principe",
          'm49_code': "678",
          'iso_a3': 'STP'
         },

         {'country': 'Scotland',
          'adjectivals': 'Scottish',
          'demonyms': 'Scots',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "154",
          'sub_region_name': "Northern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': 'Scotland',
          'm49_code': np.nan,
          'iso_a3': 'xSCO',
         },

         {'country': 'Syrian','country_or_area': 'Syrian',
          'adjectivals': 'Syrian',
          'demonyms': 'Syrians',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "145",
          'sub_region_name': "Western Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Syrian Arab Republic",
          'm49_code': "760",
          'iso_a3': 'SYR'},

         {'country': 'Taiwan','country_or_area': 'Taiwan',
          'adjectivals': 'Taiwanese',
          'demonyms': 'Taiwanese',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "030",
          'sub_region_name': "Eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Taiwan",
          'm49_code': np.nan,
          'iso_a3': 'TWN'},

         {'country': 'Tanzania',
          'adjectivals': 'Tanzanian',
          'demonyms': 'Tanzanians',
          'region_code': "002",
          'region_name': "Africa",
          'sub_region_code': "202",
          'sub_region_name': "Sub-Saharan Africa",
          'intermediate_region_code': "014",
          'intermediate_region_name': "Eastern Africa",
          'country_or_area': "United Republic of Tanzania",
          'm49_code': "834",
          'iso_a3': 'TZA'},

         {'country': 'United Kingdom',
          'adjectivals': 'British',
          'demonyms': 'Britons',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "154",
          'sub_region_name': "Northern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "United Kingdom of Great Britain and Northern Ireland",
          'm49_code': "826",
          'iso_a3': 'GBR'
         },

         {'country': 'Venezuela',
          'adjectivals': 'Venezuelan',
          'demonyms': 'Venezuelans',
          'region_code': "019",
          'region_name': "Americas",
          'sub_region_code': "419",
          'sub_region_name': "Latin America and the Caribbean",
          'intermediate_region_code': "005",
          'intermediate_region_name': "South America",
          'country_or_area': "Venezuela (Bolivarian Republic of)",
          'm49_code': "862",
          'iso_a3': 'VEN'
         },

         {'country': 'Vietnam',
          'adjectivals': 'Vietnamese',
          'demonyms': 'Vietnamese',
          'region_code': "142",
          'region_name': "Asia",
          'sub_region_code': "035",
          'sub_region_name': "South-eastern Asia",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Viet Nam",
          'm49_code': "704",
          'iso_a3': 'VNM'
         },

         {'country': 'Wales',
          'adjectivals': 'Welsh',
          'demonyms': 'Walian',
          'region_code': "150",
          'region_name': "Europe",
          'sub_region_code': "154",
          'sub_region_name': "Northern Europe",
          'intermediate_region_code': np.nan,
          'intermediate_region_name': np.nan,
          'country_or_area': "Wales",
          'm49_code': np.nan,
          'iso_a3': 'xWAL',
         },
    ]

    # Performs the replacement
    fill_values = pd.DataFrame(fill_values)
            
    nationalities = nationalities.dropna(subset=["m49_code"])
    
    nationalities = pd.concat([nationalities, fill_values]).reset_index()
        
    # Now we can select the  merged values and join them with the search result data
    nationalities["search_query"] = nationalities.adjectivals.str.lower() + " women"
    
    df = df.merge(nationalities, on='search_query')
    
    return df

In [12]:
# Adds the count of all images fetched succesfully
def add_counts(df):
    
    # Dict that will hold the count of images and results for each search query
    imgs_fetched = {}
    results_fetched = {}
    
    # For each unique query...
    for search_query in df.search_query.unique():
        
        # Compute how many images were fetched and save it into the dictionary
        img_count = df[(df.search_query == search_query) & ~(df.img_path.isna())].shape[0]
        imgs_fetched[search_query] = img_count
        
        # Do the same for the results
        results_count = df[(df.search_query == search_query)].shape[0]
        results_fetched[search_query] = results_count

    # Creates a new column by matching the search query column with the dictionaries above
    df["imgs_fetched"] = df.search_query.map(imgs_fetched)
    df["results_fetched"] = df.search_query.map(results_fetched)

    
    return df

In [13]:
def add_safe_search():
    
    df = pd.read_csv("../output_gcg/dataset/aggregated-raw-data.csv")
    
    df = pd.concat([df, df.apply(retrieve_safesearch_likelihood, axis=1)], axis=1)
        
    df = retrieve_m49_standard(df)
        
    df.to_csv("../output_gcg/dataset/complete-data.csv", index=False)

In [14]:
add_safe_search()

In [15]:
df_gcg = pd.read_csv("../output_gcg/dataset/complete-data.csv")

## Adding keyword check

Let's do the same with the keyword search. Again, this code is taken from one of the previous scripts (this time, 7.keyword-lookup.ipynb) with slight adaptations.

In [16]:
keywords = [
    "sexy", "hot", "hottest",
    #"beauty", "beautiful",
    "sex", "laid", "fuck",
    "marry", "marriage", "bride", "brides", "wife", "wives", "mail", "order", 
    "dating", "date", "meet", "single",
]

In [17]:
# Adds word boundaries:
keywords = [r"\b" + word + r"\b" for word in keywords]

In [18]:
capture = re.compile("|".join(keywords))

In [19]:
# Fill the nans with an empty string
df_gcg["full_title"] = df_gcg.full_title.fillna("")

In [20]:
df_gcg["keywords_bool"] = df_gcg.full_title.str.lower().apply(lambda x: True if capture.search(x) else False)

In [21]:
df_gcg.to_csv("../output_gcg/dataset/complete-data-classified.csv", index=False)

## Comparing the two datasets

First, let's take a look at the two datasets and check in which ways they differ.

In [22]:
df_gcg = pd.read_csv("../output_gcg/dataset/complete-data-classified.csv")
df_rm = pd.read_csv("../output/dataset/3.complete-data-classified.csv")

How many entries has Gianna's dataset?

In [23]:
df_gcg.shape[0]

20570

What about mine?

In [24]:
df_rm.shape[0]

20561

Her dataframe has 9 more entries. Why is that?

In [25]:
df_gcg.search_query.value_counts()

congolese women             200
dominican women             200
swiss women                 100
vietnamese women            100
montenegrin women           100
israeli women               100
grenadian women             100
nicaraguan women            100
belgian women               100
moldovan women              100
finnish women               100
ecuadorian women            100
kuwaiti women               100
cypriot women               100
solomon island women        100
beninese women              100
puerto rican women          100
samoan women                100
papua new guinean women     100
gambian women               100
bhutanese women             100
bulgarian women             100
myanma women                100
comorian women              100
tuvaluan women              100
thai women                  100
estonian women              100
portuguese women            100
ethiopian women             100
kyrgyzstani women           100
swedish women               100
polish women                100
guinean women               100
zimbabwean women            100
turkish women               100
burundian women             100
qatari women                100
saint-pierrais women        100
ukrainian women             100
azerbaijani women           100
swazi women                 100
serbian women               100
bahraini women              100
french women                100
senegalese women            100
tajikistani women           100
malaysian women             100
basotho women               100
cameroonian women           100
taiwanese women             100
libyan women                100
new zealand women           100
czech women                 100
moroccan women              100
mongolian women             100
laos women                  100
panamanian women            100
sudanese women              100
angolan women               100
kazakhstani women           100
cabo verdean women          100
south korean women          100
iranian women               100
nauruan women               100
marshallese women           100
russian women               100
seychellois women           100
bissau-guinean women        100
guatemalan women            100
kosovar women               100
haitian women               100
belarusian women            100
georgian women              100
emirati women               100
iraqi women                 100
maldivian women             100
south african women         100
rwandan women               100
dutch women                 100
gabonese women              100
indian women                100
spanish women               100
slovenian women             100
uzbekistani women           100
ni-vanuatu women            100
irish women                 100
honduran women              100
costa rican women           100
omani women                 100
maltese women               100
trinidadian women           100
liberian women              100
eritrean women              100
lithuanian women            100
kiribati women              100
filipino women              100
albanian women              100
scottish women              100
icelandic women             100
austrian women              100
uruguayan women             100
mauritanian women           100
latvian women               100
belizean women              100
kenyan women                100
malawian women              100
saint vincentian women      100
monacan women               100
slovak women                100
german women                100
hungarian women             100
malian women                100
equatorial guinean women    100
singapore women             100
djiboutian women            100
ugandan women               100
saint lucian women          100
australian women            100
cambodian women             100
indonesian women            100
antiguan women              100
armenian women              100
mozambican women            100
tongan women                100
micronesian women           100
salvadoran women            100
afghan women                100
pakistani women             100
yemeni women                100
algerian women              100
english women               100
togolese women              100
colombian women             100
mexican women               100
ivorian women               100
kittitian women             100
danish women                100
bahamian women              100
syrian women                100
tanzanian women             100
somali women                100
barbadian women             100
greek women                 100
norwegian women             100
western saharan women       100
sierra leonean women        100
northern irish women        100
sri lankan women            100
fijian women                100
venezuelan women            100
saudi women                 100
tunisian women              100
nigerien women              100
british women               100
timorese women              100
bruneian women              100
central african women       100
canadian women              100
bangladeshi women           100
north korean women          100
namibian women              100
south sudanese women        100
croatian women              100
lebanese women              100
mauritian women             100
brazilian women             100
luxembourgish women         100
jamaican women              100
american women              100
macedonian women            100
japanese women              100
malagasy women              100
ghanaian women              100
chilean women               100
paraguayan women            100
andorran women              100
italian women               100
romanian women              100
palestinian women           100
chinese women               100
cuban women                 100
palauan women               100
sammarinese women           100
burkinabé women             100
turkmen women               100
jordanian women             100
argentinian women           100
guyanese women              100
montserratian women         100
nigerian women              100
bermudian women             100
surinamese women            100
zambian women               100
chadian women               100
egyptian women              100
bolivian women              100
welsh women                 100
nepalese women              100
peruvian women              100
bosnian women               100
macanese women               97
botswanan women              96
são toméan women             94
liechtensteiner women        83
Name: search_query, dtype: int64

In [26]:
df_rm.search_query.value_counts()

congolese women             200
dominican women             200
swiss women                 100
vietnamese women            100
montenegrin women           100
israeli women               100
grenadian women             100
nicaraguan women            100
belgian women               100
moldovan women              100
finnish women               100
ecuadorian women            100
kuwaiti women               100
cypriot women               100
solomon island women        100
beninese women              100
puerto rican women          100
samoan women                100
papua new guinean women     100
gambian women               100
bhutanese women             100
bulgarian women             100
myanma women                100
comorian women              100
tuvaluan women              100
thai women                  100
estonian women              100
portuguese women            100
ethiopian women             100
kyrgyzstani women           100
swedish women               100
polish women                100
guinean women               100
zimbabwean women            100
turkish women               100
burundian women             100
qatari women                100
saint-pierrais women        100
ukrainian women             100
azerbaijani women           100
swazi women                 100
serbian women               100
bahraini women              100
french women                100
senegalese women            100
tajikistani women           100
malaysian women             100
basotho women               100
cameroonian women           100
taiwanese women             100
libyan women                100
new zealand women           100
czech women                 100
moroccan women              100
mongolian women             100
laos women                  100
panamanian women            100
sudanese women              100
angolan women               100
kazakhstani women           100
cabo verdean women          100
south korean women          100
iranian women               100
nauruan women               100
marshallese women           100
russian women               100
seychellois women           100
bissau-guinean women        100
guatemalan women            100
kosovar women               100
haitian women               100
belarusian women            100
georgian women              100
emirati women               100
iraqi women                 100
maldivian women             100
south african women         100
rwandan women               100
dutch women                 100
gabonese women              100
indian women                100
spanish women               100
slovenian women             100
uzbekistani women           100
ni-vanuatu women            100
irish women                 100
honduran women              100
costa rican women           100
omani women                 100
maltese women               100
trinidadian women           100
liberian women              100
eritrean women              100
lithuanian women            100
kiribati women              100
filipino women              100
albanian women              100
scottish women              100
icelandic women             100
austrian women              100
uruguayan women             100
mauritanian women           100
latvian women               100
belizean women              100
djiboutian women            100
afghan women                100
malawian women              100
saint vincentian women      100
monacan women               100
slovak women                100
german women                100
hungarian women             100
malian women                100
equatorial guinean women    100
singapore women             100
ugandan women               100
tunisian women              100
saint lucian women          100
australian women            100
cambodian women             100
indonesian women            100
antiguan women              100
armenian women              100
mozambican women            100
são toméan women            100
tongan women                100
micronesian women           100
kenyan women                100
pakistani women             100
algerian women              100
saudi women                 100
english women               100
togolese women              100
colombian women             100
mexican women               100
ivorian women               100
kittitian women             100
danish women                100
bahamian women              100
syrian women                100
tanzanian women             100
somali women                100
barbadian women             100
greek women                 100
norwegian women             100
botswanan women             100
western saharan women       100
sierra leonean women        100
northern irish women        100
sri lankan women            100
fijian women                100
venezuelan women            100
salvadoran women            100
nigerien women              100
yemeni women                100
british women               100
bruneian women              100
central african women       100
canadian women              100
bangladeshi women           100
north korean women          100
namibian women              100
south sudanese women        100
croatian women              100
lebanese women              100
mauritian women             100
brazilian women             100
luxembourgish women         100
jamaican women              100
american women              100
macedonian women            100
japanese women              100
malagasy women              100
ghanaian women              100
chilean women               100
paraguayan women            100
andorran women              100
italian women               100
romanian women              100
palestinian women           100
nigerian women              100
timorese women              100
cuban women                 100
palauan women               100
sammarinese women           100
burkinabé women             100
turkmen women               100
jordanian women             100
argentinian women           100
guyanese women              100
montserratian women         100
macanese women              100
chinese women               100
surinamese women            100
zambian women               100
chadian women               100
egyptian women              100
bolivian women              100
welsh women                 100
nepalese women              100
peruvian women              100
bosnian women               100
bermudian women             100
liechtensteiner women        61
Name: search_query, dtype: int64

Notice how the difference comes from some search queries that returned fewer or more results on this countries: Macau, Bostwana, São Tomé and Liechtenstein.

Let's take a look at the unique images, titles and links.

In [27]:
giannas_imgs = pd.Series(df_gcg.original.unique())
rodrigos_imgs = pd.Series(df_rm.original.unique())

In [28]:
giannas_titles = pd.Series(df_gcg.full_title.unique())
rodrigos_titles = pd.Series(df_rm.full_title.unique())

In [29]:
giannas_links = pd.Series(df_gcg.link.unique())
rodrigos_links = pd.Series(df_rm.link.unique())

#### First, the images

How many unique images from Gianna's dataset are also on mine?

In [30]:
giannas_imgs.isin(rodrigos_imgs).value_counts()

True     15370
False     4880
dtype: int64

In [31]:
giannas_imgs.isin(rodrigos_imgs).value_counts(normalize=True)

True     0.759012
False    0.240988
dtype: float64

How many unique images from my dataset are also on  Gianna's?

In [32]:
rodrigos_imgs.isin(giannas_imgs).value_counts()

True     15370
False     4852
dtype: int64

In [33]:
rodrigos_imgs.isin(giannas_imgs).value_counts(normalize=True)

True     0.760063
False    0.239937
dtype: float64

Notice that the ammount of images that are in both datasets is equal (15370), as expected. The difference in the Falses is not of 9, however. This is happening because the difference in *entries* is of 9, but not in *unique items*. That difference is 28, as expected.

**What about the titles?**

Let's check how many of Gianna's titles that are also on my dataset.

In [34]:
giannas_titles.isin(rodrigos_titles).value_counts()

True     13134
False     4239
dtype: int64

In [35]:
giannas_titles.isin(rodrigos_titles).value_counts(normalize=True)

True     0.756001
False    0.243999
dtype: float64

And now how many of my titles that are also on Gianna's dataset.

In [36]:
rodrigos_titles.isin(giannas_titles).value_counts()

True     13134
False     4549
dtype: int64

In [37]:
rodrigos_titles.isin(giannas_titles).value_counts(normalize=True)

True     0.742747
False    0.257253
dtype: float64

#### And, finally, the links

Gianna's links that are also on my dataset:

In [38]:
giannas_links.isin(rodrigos_links).value_counts()

True     14332
False     4367
dtype: int64

My links that are also on Gianna's dataset:

In [39]:
rodrigos_links.isin(giannas_links).value_counts(normalize=True)

True     0.767073
False    0.232927
dtype: float64

Overall, there as a overlap of around 75%.

Let's take a look at the ammount of content with racy image and objectfying keywords.

#### First, the racy images

In [40]:
df_gcg.racy.isin(["VERY_LIKELY", "LIKELY"]).value_counts(normalize=True)

False    0.900972
True     0.099028
Name: racy, dtype: float64

In [41]:
df_rm.racy.isin(["VERY_LIKELY", "LIKELY"]).value_counts(normalize=True)

False    0.899956
True     0.100044
Name: racy, dtype: float64

Is there a difference in specific countries, though?

In [42]:
def get_percentages(df, eval_col, condition, group_col=None, join_cols=None, normalize=True, zeroes=True):
    '''
    Gets the ammount of rows in a dataframe
    that meet a given condition, with
    additional support for groupbys.
    
    Parameters:
    
    df -> The pandas daframe to be aggregated
    eval_col -> The column whose value will be evaluated.
    condition -> A boolean lambda funcion that will be applied to the values of the evaluate_column
    group_col -> The columns by which the dataframe can be grouped by. Optional.
    join_cols -> Whether or not the resulting dataframe should be joined with other informative columns
    normalize -> Pass 'False' to have an absolute count instead
    dropna -> Whether or not an counts should be included in the resutling dataframe
    zeroes -> Whether or not the resulting dataframe should include countries with zero value counts for the condition
    '''

    if group_col:
                    
            percentages = (df.set_index(group_col)
                           [eval_col]
                           .apply(condition)
                           .groupby(level=0)
                           .value_counts(normalize=normalize)
                           .to_frame()
                           .rename(columns={eval_col: f'percentage_{eval_col}'})
                           .reset_index())

            percentages = percentages[percentages[eval_col]==True].reset_index(drop=True)
            percentages = percentages.drop(columns=eval_col)
            percentages = percentages.sort_values(by=f'percentage_{eval_col}', ascending=False)

        
    else:
        
        percentages = (df[eval_col]
                       .apply(condition)
                       .value_counts(normalize=normalize)
                       .to_frame()
                       .rename(columns={eval_col: f'percentage_{eval_col}'})
                       .reset_index()
                       .rename(columns={'index': 'bool'}))
        
        percentages = percentages[percentages['bool']==True].reset_index(drop=True)
        percentages = percentages.drop(columns='bool')
        
        
    if zeroes:
        
        zero_count_items = df[~df[group_col].isin(percentages[group_col])]
        zero_count_items = zero_count_items[group_col].unique()
        
        zero_count_items =  [ {   group_col: item,
                                  f"percentage_{eval_col}": 0
                              } for item in zero_count_items ]
        
        zero_count_items = pd.DataFrame(zero_count_items)
        
        percentages = pd.concat([percentages, zero_count_items])
        
        
    if join_cols:
        
        join_cols.append(group_col)
        
        info = (df.drop_duplicates(subset=group_col)
               [join_cols])
        
        percentages = percentages.merge(info, on=group_col, how='left')
        

        
    return percentages

Let's look at the keywords first.

In [43]:
results_gcg = get_percentages(df_gcg, 
                eval_col='keywords_bool', 
                condition=lambda x: x is True, # This is simply checking if the boolean is true. We can pass any other condition, though
                group_col='search_query',
                join_cols=[])

In [44]:
results_rm = get_percentages(df_rm, 
                eval_col='keywords_bool', 
                condition=lambda x: x is True, # This is simply checking if the boolean is true. We can pass any other condition, though
                group_col='search_query',
                join_cols=[])

In [45]:
results = results_gcg.merge(results_rm, on='search_query', suffixes=["_gcg", "_rm"])

In [46]:
results["diff"] = (results.percentage_keywords_bool_gcg - results.percentage_keywords_bool_rm).abs()

In [47]:
results.sort_values(by='diff', ascending=False)

,search_query,percentage_keywords_bool_gcg,percentage_keywords_bool_rm,diff
23,uruguayan women,0.270000,0.39,0.120000
139,andorran women,0.060000,0.17,0.110000
4,latvian women,0.430000,0.52,0.090000
6,filipino women,0.400000,0.32,0.080000
50,kyrgyzstani women,0.190000,0.26,0.070000
2,czech women,0.490000,0.55,0.060000
62,japanese women,0.160000,0.22,0.060000
28,serbian women,0.260000,0.32,0.060000
5,colombian women,0.410000,0.46,0.050000
40,armenian women,0.210000,0.26,0.050000
42,icelandic women,0.200000,0.15,0.050000
46,finnish women,0.200000,0.15,0.050000
121,kenyan women,0.080000,0.13,0.050000
20,kazakhstani women,0.300000,0.25,0.050000
18,panamanian women,0.310000,0.26,0.050000
0,moldovan women,0.530000,0.49,0.040000
48,albanian women,0.190000,0.15,0.040000
61,jamaican women,0.160000,0.20,0.040000
64,guyanese women,0.160000,0.20,0.040000
66,nicaraguan women,0.150000,0.19,0.040000
97,salvadoran women,0.100000,0.06,0.040000
164,south african women,0.040000,0.08,0.040000
146,english women,0.050000,0.09,0.040000
55,venezuelan women,0.180000,0.14,0.040000
44,puerto rican women,0.200000,0.24,0.040000
169,liechtensteiner women,0.036145,0.00,0.036145
89,turkish women,0.110000,0.14,0.030000
130,micronesian women,0.070000,0.04,0.030000
65,trinidadian women,0.150000,0.12,0.030000
58,zambian women,0.180000,0.15,0.030000
53,portuguese women,0.180000,0.15,0.030000
54,macedonian women,0.180000,0.15,0.030000
32,spanish women,0.240000,0.21,0.030000
138,israeli women,0.060000,0.03,0.030000
86,mauritanian women,0.120000,0.09,0.030000
81,ivorian women,0.120000,0.15,0.030000
36,belarusian women,0.220000,0.25,0.030000
75,british women,0.130000,0.16,0.030000
112,beninese women,0.090000,0.12,0.030000
52,mongolian women,0.180000,0.21,0.030000
41,moroccan women,0.210000,0.18,0.030000
92,surinamese women,0.110000,0.08,0.030000
16,costa rican women,0.320000,0.35,0.030000
27,slovak women,0.260000,0.29,0.030000
7,estonian women,0.380000,0.41,0.030000
122,botswanan women,0.072917,0.05,0.022917
10,argentinian women,0.340000,0.32,0.020000
9,norwegian women,0.340000,0.32,0.020000
57,uzbekistani women,0.180000,0.20,0.020000
56,greek women,0.180000,0.20,0.020000
68,mexican women,0.140000,0.12,0.020000
3,dominican women,0.460000,0.44,0.020000
59,barbadian women,0.170000,0.15,0.020000
90,ugandan women,0.110000,0.13,0.020000
131,saint lucian women,0.060000,0.08,0.020000
111,egyptian women,0.090000,0.11,0.020000
77,lebanese women,0.130000,0.11,0.020000
76,jordanian women,0.130000,0.11,0.020000
115,northern irish women,0.080000,0.10,0.020000
116,montenegrin women,0.080000,0.06,0.020000
132,senegalese women,0.060000,0.08,0.020000
117,equatorial guinean women,0.080000,0.06,0.020000
108,maldivian women,0.090000,0.11,0.020000
94,guinean women,0.110000,0.13,0.020000
124,swiss women,0.070000,0.05,0.020000
154,malagasy women,0.040000,0.02,0.020000
153,sudanese women,0.040000,0.02,0.020000
165,kuwaiti women,0.040000,0.02,0.020000
134,indian women,0.060000,0.04,0.020000
167,sammarinese women,0.040000,0.06,0.020000
168,nauruan women,0.040000,0.06,0.020000
144,kittitian women,0.060000,0.04,0.020000
161,welsh women,0.040000,0.06,0.020000
63,belgian women,0.160000,0.14,0.020000
71,austrian women,0.140000,0.16,0.020000
74,dutch women,0.130000,0.15,0.020000
38,danish women,0.220000,0.24,0.020000
123,sri lankan women,0.070000,0.09,0.020000
35,vietnamese women,0.220000,0.20,0.020000
101,pakistani women,0.100000,0.12,0.020000
15,romanian women,0.330000,0.35,0.020000
13,bulgarian women,0.340000,0.36,0.020000
21,peruvian women,0.290000,0.27,0.020000
170,macanese women,0.030928,0.05,0.019072
103,são toméan women,0.095745,0.11,0.014255
106,bosnian women,0.090000,0.10,0.010000
1,ukrainian women,0.520000,0.53,0.010000
98,nigerian women,0.100000,0.09,0.010000
137,gambian women,0.060000,0.07,0.010000
143,algerian women,0.060000,0.07,0.010000
113,bahamian women,0.090000,0.10,0.010000
102,syrian women,0.100000,0.09,0.010000
43,irish women,0.200000,0.19,0.010000
79,bangladeshi women,0.130000,0.14,0.010000
17,hungarian women,0.320000,0.31,0.010000
19,taiwanese women,0.310000,0.30,0.010000
22,indonesian women,0.290000,0.30,0.010000
25,ecuadorian women,0.260000,0.25,0.010000
31,brazilian women,0.250000,0.24,0.010000
34,belizean women,0.230000,0.22,0.010000
37,chilean women,0.220000,0.21,0.010000
39,bruneian women,0.210000,0.22,0.010000
49,paraguayan women,0.190000,0.18,0.010000
67,ethiopian women,0.150000,0.16,0.010000
69,australian women,0.140000,0.13,0.010000
73,tajikistani women,0.130000,0.12,0.010000
78,chinese women,0.130000,0.14,0.010000
8,slovenian women,0.340000,0.33,0.010000
87,cabo verdean women,0.120000,0.13,0.010000
84,nepalese women,0.120000,0.13,0.010000
150,laos women,0.050000,0.04,0.010000
151,papua new guinean women,0.050000,0.04,0.010000
155,angolan women,0.040000,0.05,0.010000
156,bermudian women,0.040000,0.03,0.010000
158,burundian women,0.040000,0.03,0.010000
159,tunisian women,0.040000,0.05,0.010000
176,congolese women,0.030000,0.04,0.010000
162,emirati women,0.040000,0.05,0.010000
178,western saharan women,0.030000,0.04,0.010000
163,eritrean women,0.040000,0.05,0.010000
182,palauan women,0.030000,0.04,0.010000
166,qatari women,0.040000,0.03,0.010000
174,basotho women,0.030000,0.04,0.010000
160,chadian women,0.040000,0.03,0.010000
189,marshallese women,0.020000,0.01,0.010000
188,central african women,0.020000,0.01,0.010000
203,monacan women,0.000000,0.01,0.010000
200,ni-vanuatu women,0.010000,0.00,0.010000
201,iranian women,0.010000,0.02,0.010000
186,rwandan women,0.020000,0.03,0.010000
172,liberian women,0.030000,0.02,0.010000
191,iraqi women,0.020000,0.03,0.010000
194,new zealand women,0.020000,0.03,0.010000
181,fijian women,0.030000,0.02,0.010000
183,american women,0.020000,0.03,0.010000
152,north korean women,0.050000,0.06,0.010000
140,mozambican women,0.060000,0.05,0.010000
88,togolese women,0.110000,0.10,0.010000
142,namibian women,0.060000,0.05,0.010000
141,myanma women,0.060000,0.05,0.010000
85,bolivian women,0.120000,0.11,0.010000
133,yemeni women,0.060000,0.05,0.010000
100,djiboutian women,0.100000,0.11,0.010000
125,nigerien women,0.070000,0.08,0.010000
126,swazi women,0.070000,0.08,0.010000
105,honduran women,0.090000,0.08,0.010000
82,luxembourgish women,0.120000,0.11,0.010000
118,tanzanian women,0.080000,0.07,0.010000
135,malawian women,0.060000,0.05,0.010000
99,guatemalan women,0.100000,0.11,0.010000
47,azerbaijani women,0.200000,0.21,0.010000
72,polish women,0.140000,0.15,0.010000
70,italian women,0.140000,0.15,0.010000
14,russian women,0.340000,0.35,0.010000
198,saint vincentian women,0.010000,0.01,0.000000
195,afghan women,0.010000,0.01,0.000000
173,saint-pierrais women,0.030000,0.03,0.000000
202,libyan women,0.010000,0.01,0.000000
199,palestinian women,0.010000,0.01,0.000000
196,timorese women,0.010000,0.01,0.000000
192,saudi women,0.020000,0.02,0.000000
193,kosovar women,0.020000,0.02,0.000000
175,burkinabé women,0.030000,0.03,0.000000
184,omani women,0.020000,0.02,0.000000
190,malian women,0.020000,0.02,0.000000
187,bahraini women,0.020000,0.02,0.000000
177,comorian women,0.030000,0.03,0.000000
179,kiribati women,0.030000,0.03,0.000000
180,south sudanese women,0.030000,0.03,0.000000
185,tongan women,0.020000,0.02,0.000000
197,solomon island women,0.010000,0.01,0.000000
91,samoan women,0.110000,0.11,0.000000
171,montserratian women,0.030000,0.03,0.000000
11,thai women,0.340000,0.34,0.000000
95,gabonese women,0.110000,0.11,0.000000
96,singapore women,0.100000,0.10,0.000000
83,south korean women,0.120000,0.12,0.000000
104,french women,0.090000,0.09,0.000000
80,maltese women,0.130000,0.13,0.000000
107,scottish women,0.090000,0.09,0.000000
109,somali women,0.090000,0.09,0.000000
110,cameroonian women,0.090000,0.09,0.000000
114,canadian women,0.090000,0.09,0.000000
119,bhutanese women,0.080000,0.08,0.000000
120,seychellois women,0.080000,0.08,0.000000
60,haitian women,0.160000,0.16,0.000000
51,cambodian women,0.180000,0.18,0.000000
127,zimbabwean women,0.070000,0.07,0.000000
128,cypriot women,0.070000,0.07,0.000000
129,mauritian women,0.070000,0.07,0.000000
45,german women,0.200000,0.20,0.000000
136,grenadian women,0.060000,0.06,0.000000
33,malaysian women,0.240000,0.24,0.000000
30,croatian women,0.250000,0.25,0.000000
29,cuban women,0.260000,0.26,0.000000
145,antiguan women,0.050000,0.05,0.000000
26,georgian women,0.260000,0.26,0.000000
147,turkmen women,0.050000,0.05,0.000000
93,ghanaian women,0.110000,0.11,0.000000
149,sierra leonean women,0.050000,0.05,0.000000
24,swedish women,0.260000,0.26,0.000000
157,bissau-guinean women,0.040000,0.04,0.000000
12,lithuanian women,0.340000,0.34,0.000000
148,tuvaluan women,0.050000,0.05,0.000000

Notice how almost each country had a difference of under 5 percentage points.